td{
    background: lightblue;
    padding: 5px;
}
th{
    background: brown;
    padding: 5px;
    color: violet;
}
input {
    height: 40px;
    width: 300px;
}
button {
    height: 40px;
    width: 50px;
    background: brown;
    color: white;
}