
  <h1>
    {{title}}
  </h1>
<input type="text" #newTodo />
<button (click)="addTodo(newTodo.value)">Add</button>

<table>
  <tr>
    <th>label</th>
    <th>priority</th>
    <th>done</th>

  </tr>
  <tr *ngFor="let todo of todo">
    <td>{{todo.label}}</td>
    <td>{{todo.priority}}</td>
    <td>{{todo.done ? '&#10003;' : '&#10005;'}}</td>

  </tr>
</table>